@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans:ital,wght@0,100;0,200;1,100&family=Poppins:ital,wght@0,600;0,700;1,600&family=Roboto+Mono:wght@300&display=swap');
.bottom{
    font-family: 'Roboto Mono', monospace;
 margin: 0;
 padding: 0;
   
   background: url(../../../Images/JPG003.jpg) no-repeat;
   background-size: cover;
}
.h{
    background: url(./../../../Images/JPG002.jpg);
}

.bottom-bottom-imgCarousel{
 
  min-width: 35rem;
  min-height: 18rem;
  padding: 2rem;
 
}
.bottom-bottom-imgCarousel img{
  width: 100%;
  height: 18rem;
  border-radius: 2rem;
  pointer-events: none;
   }
   .bottom-carousel-inner{
    display: flex;
    background-color:transparent;
   }
   .bottom-carousel{
    cursor: grab;
    background-color: rgba(0, 0, 0, 0.281);
  
    overflow: hidden;
    border-radius: 2rem;
   }